.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #535353;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Adjust the navigation container */
nav {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #f1f1f1;
  overflow: hidden;
}

/* Adjust the logo size and remove margin and position properties */
nav img {
  height: 80px; 
}

/* Style the navigation links container if you wrap links in a div */
.nav-links {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

/* Style the navigation links */
nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Adjusted styles for centering navigation links */
nav ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 10px;
  display: flex; 
  justify-content: center; /* Center flex items (the li elements) horizontally */
  align-items: center; /* Center flex items vertically */
  background-color: #f1f1f1;
  overflow-x: auto; 
  flex-wrap: nowrap; 
}

nav li a:hover {
  background-color: #bebaba;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Center the Projects header */
.projects-header {
  text-align: center; /* Center-align the text */
}

/* Child combinator to add styles to project children */
.projects > .project {
  border: 1px solid #ccc;
  padding: 20px;
}
/*Use hover pseudo-class to highlight projects and the sidebar with green*/
.project:hover, .sidebar:hover {
  background-color: #91f7b8; 
}

/*Underline the h2 elements in the project and sidebar sections*/
.project > h2, .sidebar > h2 {
  text-decoration: underline;  
}

.page-header {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(211, 242, 248);
  background-image: linear-gradient(120deg, #75c5d9 25%, transparent 25%),
                    linear-gradient(240deg, #75c5d9 25%, transparent 25%),
                    linear-gradient(60deg, #75c5d9 25%, transparent 25%),
                    linear-gradient(300deg, #75c5d9 25%, transparent 25%);
  color: #333;
  text-align: center;
  font-size: 24px;
}

.page-header{
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.header-container {
  max-width: 800px; /* Limits the width of the container for better readability */
  margin: auto; /* Centers the container */
  padding: 20px; /* Adds some padding around the content */
}

.page-header {
  text-align: center; /* Centers the header text */
  margin-bottom: 40px; /* Adds space below the header */
  margin-top: 150px;
}

.page-header div {
  font-size: 18px; /* Adjusts the font size of the subtitle */
  color: #666; /* Changes the color for a subtle look */
  margin-top: 10px; /* Adds space between the name and the subtitle */
}

section {
  margin-bottom: 30px; /* Adds space between sections */
}

section h2 {
  font-family: 'Arial', sans-serif; 
  color: #333; 
  border-bottom: 2px solid #eee; 
  padding-bottom: 10px;
  margin-bottom: 20px; 
}

section p {
  text-align: justify; /* Justifies the paragraph text */
  line-height: 1.6; /* Increases line height for readability */
  color: #444; /* Slightly lighter text color */
}

a {
  color: #007bff; /* Sets link color */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  text-decoration: underline; /* Adds underline on hover for clarity */
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons and the image */
}

.gallery-item img {
  max-width: 100%; 
  height: auto; 
  display: block;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

button {
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.nav-header{
  position: fixed; /* Fixes the header's position relative to the viewport */
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.resume-container {
  margin-top: 150px;
}

footer {
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

th {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}